.DS_Store
/.build
/Packages
project.xcworkspace
*.plist
!PictionSDK_Info.plist
!RxPictionSDK_Info.plist
!PictionSDKTests_Info.plist
!PictionSDKLocal_Info.plist
/Carthage
/Product
/PictionSDK.xcodeproj/xcuserdata