gitHub "ReactiveX/RxSwift" ~> 5.0.1
github "Swinject/Swinject" ~> 2.6.1
github "RxSwiftCommunity/RxDataSources" ~> 3.1.0
github "jhseo/ViewModelBindable" ~> 2.0.0
github "scalessec/Toast-Swift" ~> 5.0.0
github "SDWebImage/SDWebImage" ~> 4.4.7
github "pronebird/UIScrollView-InfiniteScroll" ~> 1.1.0
github "gskbyte/GSKStretchyHeaderView" ~> 1.0.4
github "wordpress-mobile/AztecEditor-iOS"
github "Automattic/Gridicons-iOS" "0.18"
github "TimOliver/TOCropViewController"
github "tid-kijyun/Kanna" ~> 4.0.0


github "sunshinejr/Moya-ModelMapper" "9.0.0"
github "kishikawakatsumi/KeychainAccess" "v3.2.0"


