<style>
@font-face {
    font-family: "RIDIBatang";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Helvetica';
    margin: 220px 20px 747px 20px;
    line-height: 28px;
}

.align-center { text-align: center; }
.align-right { text-align: right; }

p {
    margin: 0px;
    word-wrap: break-word;
}

img {
    max-height: 100%;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px; !important;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    height: 100%;
}
</style>
